.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/changelog.md
**/install.sh
media/**
.DS_Store
node_modules/**
*.vsix